<html>
<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>自动化测试</title>
</head>

<body style="text-align: center">

    <div class="page-title">
    <span>项目详情</span>
    <div class="page-desc">
        <li><label>项目ID</label>110</li>
        <li><label>机构</label>EGBANK</li>
        <li><label>业务</label>快捷</li>
        <li><label>联调完成度</label>36/37</li>
        <li><label>状态</label>业务联调</li>
        <li><label>启动时间</label>20150122</li>
    </div>
    </div>
    <div class="container-fluid">
        <div class="div_content">
        <!-- tester=N -->

        <input class="btn btn-primary btn-large" type="button" value="证书管理" id="cert_mng_btn">

        </div>
                   
        <br>
                <form id="projectInfoForm" name="projectInfoForm">
                            <input type="hidden" name="_form_token" value="PUWNHyyv7JPuISjOPkNJmo8WyuxgvOCo">
         <div class="div_title">接口列表</div>    
              <div class="div_content">
                <table class="table table-bordered">            
                    <thead>
                        <tr>
                            <th>接口</th>                                                    
                            <th>版本</th>
                            <th>用例完成度</th>                            
                        </tr>
                    </thead>
                    <tbody>
                                                <tr>
                            <td>
                            <a href="http://115.124.16.98/interfaceInfo.htm?method=init&id=139&version=6.0.1&projectId=110">快捷-银行卡信息验证-CSVReq</a>
                            </td>                                                                                 
                            <td>6.0.1</td>
                            <td>12/12</td>                                                                                                                                        
                       </tr>
                                                <tr>
                            <td>
                            <a href="http://115.124.16.98/interfaceInfo.htm?method=init&id=141&version=6.0.1&projectId=110">快捷-单笔支付-CPReq</a>
                            </td>                                                                                 
                            <td>6.0.1</td>
                            <td>9/10</td>                                                                                                                                        
                       </tr>
                                                <tr>
                            <td>
                            <a href="http://115.124.16.98/interfaceInfo.htm?method=init&id=145&version=6.0.1&projectId=110">快捷-单笔退款-SRReq</a>
                            </td>                                                                                 
                            <td>6.0.1</td>
                            <td>7/7</td>                                                                                                                                        
                       </tr>
                                                <tr>
                            <td>
                            <a href="http://115.124.16.98/interfaceInfo.htm?method=init&id=160&version=6.0.1&projectId=110">直连-对账文件格式校验-FILERecon</a>
                            </td>                                                                                 
                            <td>6.0.1</td>
                            <td>1/1</td>                                                                                                                                        
                       </tr>
                                                <tr>
                            <td>
                            <a href="http://115.124.16.98/interfaceInfo.htm?method=init&id=147&version=6.0.1&projectId=110">快捷-退款单笔实时查询-STQReq</a>
                            </td>                                                                                 
                            <td>6.0.1</td>
                            <td>5/5</td>                                                                                                                                        
                       </tr>
                                                <tr>
                            <td>
                            <a href="http://115.124.16.98/interfaceInfo.htm?method=init&id=151&version=6.0.1&projectId=110">中间账户查询-IADRReq</a>
                            </td>                                                                                 
                            <td>6.0.1</td>
                            <td>2/2</td>                                                                                                                                        
                       </tr>
                                            </tbody>
                </table>
            </div>
            
            <div class="div_title">验收记录</div>                
              <div class="div_content">
                <table class="table table-bordered">            
                    <thead>
                        <tr>
                            <th>记录ID</th>        
                            <th>状态</th>
                            <th>结果</th>
                            <th>操作员</th>
                            <th>创建时间</th>
                            <th>修改时间</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                                            </tbody>
                </table>
            </div>
        </form>
            </div>
</body>

</html>
